* {
  box-sizing: border-box;
}

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body { 
  background-color: #fafafa;
}

*::-webkit-scrollbar {
  display: none;
}

.hoverEvent {
  cursor: pointer;
  user-select: none;
}

.cardHoverEvent:hover {
  cursor: pointer;
  user-select: none;
  background-color: #fafafa;
}

.iconHoverEvent {
  cursor: pointer;
  user-select: none;
}

.iconHoverEvent:hover {
  opacity: 0.5;
}

.dropDownContent {
  display: block!important;
  border-radius: 6px;
  margin: 230px 170px 0 0;
  box-shadow: 0 0 5px 1px #eee;
}

.dropDownContent > div {
  padding: 8px 16px;
}

.dropDownContent > div:hover {
  background-color: #fafafa;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .hide {
    display: none !important;
    position: fixed !important;
  }
}
